.home {
  padding: 10px 40px;
  overflow-x: hidden;
  position: relative;
  font-weight: 300;
  .home-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;

    span.bold-span {
      color: #006735;
      font-weight: 700;
    }
  }
}
.circle-icon-num {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.circle-icon-num-filled {
  cursor: pointer;

  background-color: #0f9d58;
  transition: all ease 300ms;
  &:hover {
    background-color: #0b7441;
  }
}

.circle-icon-num-no-filled {
  cursor: pointer;
  border: 2px #fff solid;
  background-color: transparent;
  transition: all ease 300ms;
  &:hover {
    background-color: rgba(0, 0, 0, 0.158);
  }
}
.home-first-left {
  position: relative;
  font-size: 25px;
  width: 350px;
  display: grid;
  gap: 15px;
  text-align: justify;
  img {
    position: absolute;
    bottom: -150px;
    left: 0;
    height: 150px;
  }
}
.home-first-right {
  display: flex;
  flex-direction: column;
  .main {
    display: flex;
    flex-direction: column;

    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    .main-header {
      display: flex;
      gap: 15px;
    }

    height: fit-content;
    background: linear-gradient(
      122.31deg,
      #ffffff7e 0%,
      rgba(255, 255, 255, 0.11) 100%
    );
  }
  .header {
    color: #fff;
    span {
      font-weight: 700;
    }
  }
  .footer {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
}

div.green-rectangle {
  background: linear-gradient(121.01deg, #0f9d58 12.63%, #007a3f 41.45%);
  transform: rotate(-40.2deg);
  width: 1300px;
  height: 1000px;
  left: 600px;
  top: 50px;
  z-index: -1;
  border-radius: 50px;
  position: absolute;
}

.main-main {
  display: grid;

  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  .home-textarea {
    padding: 20px;
    resize: none;
    width: 100%;
    height: 170px;
    border: 2px #fff solid;
    border-radius: 15px;
    background-color: transparent;
  }
  .home-textarea:focus-visible {
    outline: none;
  }
  & > .head {
    justify-self: end;
    color: white;
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
  }
  .main-form {
    position: relative;
  }
  .main-form-logo {
    position: absolute;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    top: -20px;
    left: 5px;
    background-color: #0f9d58;
  }
}

.file-none {
  display: none;
}

.main-footer {
  display: flex;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 35px;
  padding: 2px;
  .button-main-footer {
    background: #0f9d58;
    border: 2px solid #0f9d58;
    border-radius: 29px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    transition: background-color ease 300ms;
    &:hover {
      background-color: #0b7944;
    }
    svg {
      font-size: 22px;
    }
    & + div {
      cursor: pointer;
      transform: opacity ease 0.3s;
      &:hover {
        opacity: 0.8;
      }
      opacity: 0.5;
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 7px 25px 7px 10px;
    }
  }
}

.home-second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: justify;
    gap: 15px;
    .main {
      width: 450px;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }
    img {
      justify-self: center;
    }
    .head {
      color: #006735;
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 35px;
      display: flex;
      gap: 7px;
    }
    .head-span-2 {
      color: #fff;
      -webkit-text-stroke-color: #006735;
      -webkit-text-stroke-width: 2px;
    }
  }
  .right {
    img {
      width: 500px;
      height: 500px;
    }
  }
}

.home-third {
  display: flex;
  position: relative;
  align-items: center;
  height: 80vh;
  padding: 0;

  justify-content: space-between;
  & > div {
    flex: 1;
  }
  .right {
    font-weight: 300;
    font-size: 35px;
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: flex-end;
    flex-direction: column;
    p {
      width: 450px;
    }
    img {
      margin: 25px;
    }
  }
  .cotes{
    position: absolute;
    bottom: -65px;
    right: 80px;
    width: 150px;
    z-index: -1;
    opacity: 0.5;
  }
}
