
.input-1{
    background-color: rgba(117, 211, 167,.2);
    transition: all ease 300ms;
    &:hover{
        background-color: rgba(117, 211, 167,.4);
    }
    font-size: 18px;
    color : rgba(0, 103, 53, 1);
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    height: 45px;
    gap:15px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    input{
        &:focus-visible{
            outline: none;
        }
        color : rgba(0, 103, 53, 1);
        font-size: 20;
        font-weight: 600;
        background-color: transparent;
        width: 100%;
        height: 90%;
        border: none;
    }
    .input-1-icons{
        font-size: 20px;
    }
}