.nav-link {
  color: #006735;
  font-weight: 300;
  text-decoration: none;
}
%button {
    width : fit-content;
    color: #fff;
    background-color: transparent;
    font-weight: 400;
    border-radius: 20px;
    padding: 7px 20px;
    height: 40px;
    cursor: pointer;
}

.button-filled {
    @extend %button;
    border : none;
    cursor: pointer;
    background-color: #ff5e00;
    &:hover{
        background-color: #d24d00;
    }
}

.button-no-filled {
    @extend %button;
    border : 2px #ff5e00 solid;
    &:hover{
        background-color: #db5d143c;
    }
}

.main-nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.left-nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav-bar{
    gap:35px;
    display: flex;
    align-items: center;
    justify-content: center;
}