.leftttt{
    display: flex;
    flex-flow: column;
    margin-top: 50px;
    gap: 15px;
    width: 18%;
}

.leftttt > div:nth-child(1) > span:nth-child(1){ 
    color: #006735;
    font-size: 3em;
    font-weight: bold;
}
.leftttt > div:nth-child(1) >  span:nth-child(2){ 
    color: #FF5D00;
    font-size: 2.5em;
    font-weight: bold;
}
.leftttt > div:nth-child(1) > p{ 
    font-weight:normal;
}
.leftttt > div:nth-child(1)  >p {
    word-spacing: 10px;
    margin: 20px 0 0 0;
    color: #006735;
}
.leftttt > div:nth-child(2) {
    display: flex;
    flex-flow: column;
    gap: 20px;
    word-spacing: 15px;
    color: #0F9D58;

    .fleche{
        position: relative;
        left: 120px;
        object-fit: cover;
    }
}

.leftttt > div:nth-child(1) {
    display: flex;
    flex-flow: column;
}

.leftttt > div:nth-child(2) > span> span {
    font-weight: bold;
}
.leftttt > div:nth-child(2) > .left-facture{
    color: #006735;
}
.leftttt > div:nth-child(2) > .left-montant{
    color: #006735;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,rgba(92, 192, 145, 1),rgba(92, 192, 145, 0));
    border-radius: 10px;
    border: 2px solid #6edaa631;
    font-size: 3em;
    }

.containe-details{
    display: flex;
    flex-flow: column;
    gap: 20px;

    .left-asavoir{
        font-weight: bold;
        font-size: 2em;
        color: #006735;
        margin-top: 20px;
        }

    .left-details{
        display: flex;
        flex-flow:column ;
        gap: 40px;
        text-align: justify;
        word-spacing: 10px;
        list-style-type: disc;
        margin-left: 40px;
    }
}

.broadcast-first{
    display: flex;
    margin-top: 50px ;
    justify-content: space-between;

    .container-right{
        width: 65%;
        border-top-left-radius:50px ;
        border-bottom-left-radius:50px ;
        background: url(../../../public/bg-whatsapp.jpg);
        box-shadow: inset 0px 10px 100px rgb(0, 0, 0);

        .big-container-right{
            padding: 20px 40px 20px 30px;
        }
        .header-right{
            display: flex;
            border-top-left-radius:50px ;
            border-bottom-left-radius:50px ;
            justify-content: space-between;
            padding: 20px 40px 20px 30px;
            background: linear-gradient(rgba(40, 40, 40, 1),rgba(40, 40, 40, 0));

            img{
                height: 80px;
            }
            span{
                color: white;
            }
            .container-icons{
                display: flex;
                gap:15px;

                .header-icons{
                    height: 35px;
                }
            }
        }
    }
}

.container-body{
    display: flex;
    flex-flow: column;
    margin-top: 10px;

    .container-one{
        display: flex;
        justify-content: center;

        div{
            background-color: #686359;
            border-radius: 7px;
            width: 75%;
            padding: 10px;
            text-align: justify;
            color: white;
            text-align: center;
            font-size: 0.8em;
        }
    }
    .container-two{
        display: flex;
        flex-flow: column;
        gap: 10px;
        margin-top: 50px;

        p{
            background-color: #383838;
            width: fit-content;
            padding: 5px 25px 5px 7px;
            border-radius: 5px;
            font-size: 0.9em;
            color: white;

            span{
                color: rgb(0, 195, 255);
            }
        }
    }
}

.container-form{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    margin-top: 10px;
    gap: 10px;
    height: 815px;
    overflow-y: auto;

    img{
        height: 30px;
    }
    .block-input{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        width: 100%;
        color: rgba(255, 255, 255, 0.589);
        font-size: 0.8em;

        .input-container{
            display: flex;
            flex-flow: column;
            gap: 50px;
            background-color: #025C4C;
            padding: 5px 5px;
            border-radius: 7px 0 7px 7px;
            width: 70%;
            height: 100%;

            input{
                height: 20px;
                background: none;
                border: none;
                outline: none;
                color: white;
            }
            input::placeholder{
                color: rgba(255, 255, 255, 0.486);
            }

            p{
                align-self: flex-end;
            }
        }
        .container-categories{
            display: flex;
            flex-flow: column;
            background-color: #025C4C;
            width: 70%;
            padding: 5px 5px;
            border-radius: 7px 0 7px 7px;
            gap: 20px;
             
            &>p:first-child{
                color: white;
            }
            &>p:last-child{
                align-self: flex-end;
            }
            .categories{
                display: flex;
                justify-content: space-around;

                .icon-texte{
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    color: white;

                    img{
                        height: 60px;
                    }
                }
            }

            .input-age{
                padding: 20px;
                align-self: center;
                color: white;
                font-weight: bold;
            }
        }
    }
}

.section-image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: rgba(255, 255, 255, 0.589);
    font-size: 0.8em;

    .container-image{
        display: flex;
        flex-flow: column;
        width: 70%;
        border-radius: 7px 0 7px 7px;
        background-color: #025C4C;
        padding: 5px;

        .block-addImage{
            display: flex;
            flex-flow: column;
            background-color: #ffffff46;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            height: 250px;
            gap: 10px;

            .block-iconText{
                display: flex;
                flex-flow: column;
                gap: 5px;
                align-items: center;
            }
            input{
                content: "vvdv";
                border: none;
                padding: 5px;
                border-radius: 7px;
                background: none;
                background-color: #004337;
                color: white;
                text-align: center;
                cursor: pointer;
            }

            input::placeholder{
                color: white;
            }
        }

        .block-imageDetails{
            display: flex;
            flex-flow: column;
            gap: 30px;
        }
    }
}

.section-message{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: rgba(255, 255, 255, 0.589);
    font-size: 0.8em;

    .block-message{
        display: flex;
        width: 70%;
        border-radius: 7px 0 7px 7px;
        background-color: #025C4C;
        padding: 5px;
        height: 300px ;
        color: white;
    }
}

.section-envoie{
    display: flex;
    padding: 5px 5px;
    background-color: #282828;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-bottom-left-radius:50px ;

    .block-confidentiel{
        display: flex;
        gap: 10px;
        align-items: center;
        width: 36%;


        p{

            span{
                color: #75B0FF;
            }
        }
    }
    img{
        height: 30px;
    }
    .block-tarif{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;

        span{
            padding: 5px 10px;
            border-radius: 7px;
            border: 1px solid rgba(255, 255, 255, 0.651);
            background: linear-gradient(90deg, rgba(224, 224, 224, 0.795),rgba(255, 255, 255, 0.253));
            font-weight: bold;
            font-size: 1.2rem;
        }
    }
}

.section-statistique{
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-top: 50px;

    .statistique-title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 103, 53, 1);
        background-color: rgba(0, 103, 53, 0.123);
        font-weight: bold;
        font-size: 2.3em;
        padding: 50px 0px;
        border-radius: 7px 7px 0 0;
    }

    .block_statistique-details{
        display: flex;
        justify-content: space-between;
        gap: 10px;

        .statistique-people{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            padding: 0 30px;
            box-shadow: 0px 5px 25px rgba(144, 222, 186, 1);
            background-color: rgba(144, 222, 186, 1);

            .block-chiffre{
                display: flex;
                flex-flow: column;
                gap: 5px;

                span:nth-child(1){
                    font-weight: bold;
                    font-size: 2em;
                }
            }
        }

        .statistique-braodcast{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            padding: 0 30px;
            box-shadow: 0px 5px 25px rgba(255, 190, 157, 1);
            background-color: rgba(255, 190, 157, 1);

            .block-chiffre{
                display: flex;
                flex-flow: column;
                gap: 5px;

                span:nth-child(1){
                    font-weight: bold;
                    font-size: 2em;
                }
            }
        }

        .statistique-visibility{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            padding: 0 30px;
            box-shadow: 0px 5px 25px rgba(46, 46, 46, 1);
            background-color: rgba(46, 46, 46, 1);

            .block-chiffre{
                display: flex;
                flex-flow: column;
                color: white;
                gap: 5px;

                span:nth-child(1){
                    font-weight: bold;
                    font-size: 2em;
                }
            }
        }
    }
}


.section-filtre{
    display: flex;
    flex-flow: column;
    margin-top: 50px;

    .filtre-recherche{
        display: flex;
        justify-content: space-between;
        padding: 7px 5px 7px 24px;
        background-color: rgba(46, 46, 46, 1);
        border-radius: 30px;

        input{
            outline: none;
            border: none;
            width: 40%;
            background: none;
            color: rgba(255, 255, 255, 0.473);
            font-size: 1.2em;
        }

        .filtre-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(15, 157, 88, 1);
            padding: 10px;
            border-radius: 20px;

            img{
                height: 20px;
            }
        }
    }

    .block-filtre{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        span{
            color: rgba(0, 103, 53, 1);
            font-weight: bold;
        }

        ul{
            display: flex;
            width: 60%;
            justify-content: space-between;

            li{
                padding: 10px 20px;
                border: 1px solid rgba(0, 103, 53, 1);
                border-radius: 30px;
            }
        }
    }
}

.section-historique{
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-top: 20px;

    .historique-pages{
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            width: 22%;
            justify-content: space-between;
            align-items: center;

            li{
                border-radius: 5px;
                padding: 1px 5px;
                border: 1px solid rgba(33, 33, 33, 1);
            }

            li:first-child{
                color: white;
                background-color: rgba(0, 103, 53, 1);
            }
            li:last-child{
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    height: 10px;
                }
            }
        }
    }

    .historique-table{
        display: flex;
        flex-flow: column;
        margin-top: 20px;

        .historique-titres{
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-weight: bold;

            th{
                display: flex;
                justify-content: flex-start;
                width: 16%;
                padding: 10px 0;
            }
            th:first-child{
                width: 10%;
            }
        }

        .historique-diffusion{
            display: flex;
            justify-content: space-around;
            padding: 10px 0;

            td{
                width: 16%;
            }
            td:first-child{
                width: 10%;
            }
        }

        tr:nth-child(2n+1){
            background-color: rgba(164, 164, 164, 1);
        }
        tr:nth-child(2n){
            background-color: rgba(229, 229, 229, 1);
        }
    }
}

.section-button{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    margin-top: 20px;

    button{
        display: flex;
        align-items: center;
        padding: 10px 30px;
        gap: 5px;
        color: white;
        background-color: rgba(53, 53, 53, 1);
        font-size: 1.2em;
        border: none;

        img{
            height: 25px;
        }
    }
}