@import 'Utils/sass/minreset.scss';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root{
    width: 100vw;
    max-width: 1300px;
}
*{
    font-family: 'Poppins',sans-serif;
    &::-webkit-scrollbar{
        display: none;
    }
}